* {
    box-sizing: border-box;
    margin: 0;
}

body {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    height: 100vh;

}

.clock-style {
    color: thistle;
    font-size: 50px;
    text-align: center;
}
